@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Primary Colors */
:root {
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
/* Neutral Colors */
--bgr: hsl(217, 54%, 11%);
--card: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  background-color: var(--bgr);
  padding:1.25rem
}

h2 {
  font-weight: 600;
  color: var(--White);
  margin: 1rem 0.5rem 0.5rem 0;
  transition: ease-in-out 0.3s
}

h2:hover {
  color: var(--Cyan);
  cursor: pointer;
}

p {
  font-weight: 400;
  color: var(--Soft-blue)
}

ul {
  list-style-type: none;
}

.container .active {
  position: absolute;
  background-color: hsl(178,100%,50%,60%);
  width: 410px;
  height: 410px;
  top: 40px;
  z-index: 999;
  border-radius:0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container .active:hover {
  cursor: pointer;
  opacity: 1;
}

.container .eye {
  position: absolute;
  top:178px;
  left: 184px;
}

img {
  max-width: 100%;
  border-radius: 0.5rem
}



span {
  color: var(--White);
  font-weight: 400;
  transition: ease-in-out 0.3s
}

span:hover {
  color: var(--Cyan);
  cursor: pointer;
}



.container {
 background-color: var(--card);
 padding: 1.25rem;
 border-radius: 1.2rem
 
}

.container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--line);
}

.container ul li {
  display:flex;
  align-items: center;
}

.container ul li img {
  margin-right: 0.5rem;
}

.container .avatar {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 1.5rem;
  margin-bottom: 2rem
}

.container .avatar img {
  width: 3rem;
  border: 2px solid var(--White);
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;

}

.price {
  color: var(--Cyan)
}

.time {
  color: var(--Soft-blue)
}

.credit {
  font-size: 16px;
  color: var(--Soft-blue);
  text-align: center;
}
.credit a {
  color: hsl (228, 45%, 44%)
}

@media(min-width: 375px) {
 .container {
   width: 450px;
   margin: 0 auto 1rem;
 } 

}
